<p>This is the LOGS view with paging.</p>

    <div  class="table-responsive">
              
          
      <table  class="table table-striped table-bordered table-hover"> 
        <thead>
        <tr>
          <th>Action</th>
          <th><a href="" ng-click="predicate = 'rowguid'; reverse=!reverse">ID<span class="pull-right" ng-show="predicate=='rowguid'"><small><span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span><span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span></small></span></a></th>
          <th><a href="" ng-click="predicate = 'module'; reverse=!reverse">Module<span class="pull-right" ng-show="predicate=='module'"><small><span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span><span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span></small></span></a></th>
          <th><a href="" ng-click="predicate = 'denotation'; reverse=!reverse">Denotation<span class="pull-right" ng-show="predicate=='denotation'"><small><span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span><span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span></small></span></a></th>
          <th><a href="" ng-click="predicate = 'messageType'; reverse=!reverse">Message type<span class="pull-right" ng-show="predicate=='messageType'"><small><span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span><span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span></small></span></a></th>
          <th><a href="" ng-click="predicate = 'creationDate'; reverse=!reverse">Creation date<span class="pull-right" ng-show="predicate=='creationDate'"><small><span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span><span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span></small></span></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in filteredLogs | orderBy:predicate:reverse">
          <td></td>
          <td>{{item.rowguid}}</td>
          <td>{{item.module}}</td>
          <td>{{item.denotation}}</td>
          <td>{{item.messageType}}</td>
          <td>{{item.creationDate}}</td>
        </tr>
        </tbody>
        
      </table>
  
      <div class="hidden-xs">
        <pagination direction-links="true" items-per-page="numPerPage" boundary-links="true" total-items="totalItems" ng-model="currentPage"></pagination>
      </div>

      <div class="visible-xs"><pager total-items="totalItems" items-per-page="numPerPage"  ng-model="currentPage"></pager></div>
   
